#chartStyling {
    border: .1em;
    border-color: black;
    border-style: solid;
    padding: 2em;
}

#columnHeaders {
    font-size: 12pt;
    font-weight: 700;
}

#dropdownOptions {
    font-size: 12pt;
}

#hrStyling {
    border: 2px solid #343a40;
    margin-bottom: 0;
    margin-top: 1em;
}

#imageUploadBoard{
    border: .5em;
    border-color: black;
    border-style: solid;
}

#imageUploadButton {
    font-size: 14pt;
    height: 2.25em;
    width: 8em;
}

#input {
    align-self: right;
    font-size: 14pt;
}

#itemDeleteButton {
    font-size: 12pt;
    height:3em;
    margin-right: .25em;
    width: 4.5em;    
}

#itemDepartment {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: solid;
    border-bottom-width: .15em;
    display: table-cell;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align: left;
    vertical-align: middle;
} 

#itemEditAndDeleteButtons {
    border-bottom-color:#343a40;
    border-bottom-style: solid;
    border-bottom-width: .2em;
    margin-top: 5em;
}

#itemEditButton {
    font-size: 12pt;
    height:3em;
    margin-right: .25em;
    width: 4.5em;
}

#itemFormDropdown {
    background-color: white;
    border-color:#636263;
    color: black;
    font-size: 12pt;
    height: 2.5em;
    margin-left: 1em;
    width: 25em;
}

#itemName {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: solid;
    border-bottom-width: .15em;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align: left;
} 

#itemPicture {
    border-right-color: #343a40;
    border-right-style: solid;
    border-bottom-color:#343a40;
    border-bottom-style: solid;
    border-bottom-width: .15em;
    font-size: 14pt;
    text-align: center;
}  

#itemPrice {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: solid;
    border-bottom-width: .15em;
    font-size: 11pt;
    justify-content: center;
    max-height: 14em;
    overflow: auto;
    text-align: center;
} 

#itemQuantity {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: solid;
    border-bottom-width: .15em;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align:center;
}

#itemSearch {
    border-color:black;
    width: 16.75em;
}

#itemSKU {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: solid;
    border-bottom-width: .15em;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align: center;
} 

#itemVendor {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: solid;
    border-bottom-width: .15em;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align: left;
}  

#locationFilterDropdown {
    align-self: right;
    font-size: 14pt;
    margin-right: 2.6em;
    width: 20em;
}

#navLinks {
    color: white;
    font-size: 16pt;
}
    #navLinks:hover {
        border: 2px;
        border-color: rgb(11, 240, 190);
        border-style: solid;
        color: rgb(11, 240, 190);
    }
 
#nucleusLogo {
    border: 2px;
    border-color:black;
    border-radius: .5em;    
    border-style: solid;
    height: 12em;
    width: auto;
}

#removeFilterButton {
    font-size: 14pt;
    height: 2em;
    width: 10em;
}

#required {
    color: red;
    font-size: 14pt;
    margin-left: 11em;
    text-align: left;
}

#requiredProfile {
    color: red;
    font-size: 14pt;
    margin-left: 11em;
    text-align: left;
}