
#chartStyling {
    border: .1em;
    border-color: black;
    border-style: solid;
}



.addItemButton {
    height: auto;
    width: 10em;
}

#columnHeaders {
    font-size: 12pt;
    font-weight: 700;
}

#dropdownOptions {
    font-size: 12pt;
}

#hrStyling {
    margin-bottom: 0;
    margin-top: 1em;
    border: 2px solid #343a40;
}

.imageUploadBoard{
    border: .5em;
    border-color: black;
    border-style: solid;
}

#imageUploadButton {
    font-size: 14pt;
    height: 2.25em;
    width: 8em;
}

#input {
    align-self: right;
    font-size: 14pt;
}

#noImage {
    border-right-color: #343a40;
    border-right-style: solid;
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    width: 17.7em;
    font-size: 14pt;
  
}

#itemCardPicture-NoImage {
    border-right-color: #343a40;
    border-right-style: solid;
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 4em;
    overflow: auto;
    text-align: left;
}  

#itemCardDepartment-NoImage {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 4em;
    overflow: auto;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}  

#itemCardVendor-NoImage {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 4em;
    overflow: auto;
    text-align: left;
}  

#itemCardName-NoImage {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 4em;
    overflow: auto;
    text-align: left;
} 

#itemCardSKU-NoImage {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 4em;
    overflow: auto;
    text-align: center;
} 

#itemCardPrice-NoImage {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 4em;
    overflow: auto;
    text-align: center;
    justify-content: center;
} 

#itemCardQuantity-NoImage {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 4em;
    overflow: auto;
    text-align:center;
}

#itemCardPicture-Image {
    border-right-color: #343a40;
    border-right-style: solid;
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 14pt;
    text-align: center;
}  

#itemCardDepartment-Image {
    border-right-color: #343a40;
    border-right-style: solid; 

    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align: left;
    display: table-cell;
    vertical-align: middle;
}  

#itemCardVendor-Image {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align: left;
}  

#itemCardName-Image {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align: left;
} 

#itemCardSKU-Image {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align: center;
} 

#itemCardPrice-Image {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align: center;
    justify-content: center;
} 

#itemCardQuantity-Image {
    border-right-color: #343a40;
    border-right-style: solid; 
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
    font-size: 11pt;
    max-height: 14em;
    overflow: auto;
    text-align:center;
}

#itemFormDropdown {
    background-color: white;
    border-color:#636263;
    color: black;
    font-size: 12pt;
    height: 2.5em;
    margin-left: 1em;
    width: 25em;
}

#itemEditAndDeleteButtons-Image {
    border-bottom-color:#343a40;
    border-bottom-style: dotted;
    border-bottom-width: .1em;
}

#itemSearch {
    border-color:black;
    width: 16.75em;
}

#locationFilterDropdown {
    align-self: right;
    font-size: 14pt;
    width: 20em;
}

#navLinks {
    color: white;
    font-size: 16pt;
}
    #navLinks:hover {
        border: 2px;
        border-color: rgb(11, 240, 190);
        border-style: solid;
        color: rgb(11, 240, 190);
    }
 
.NucleusInventoryLogo {
    border-radius: .5em;
    border: 2px;
    border-color:black;
    border-style: solid;
    height: 12em;
    width: auto;
}

#removeFilterButton {
    font-size: 14pt;
    height: 2em;
    width: 10em;
}

#required {
    color: red;
    font-size: 14pt;
    margin-left: 11em;
    text-align: left;
}

.itemEditButton {
    width: 4.5em;
    height:3em;
    margin-right: .25em;
    font-size: 12pt;
}

.itemDeleteButton {
    width: 4.5em;
    height:3em;
    margin-right: .25em;
    font-size: 12pt;
}